<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=7">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title></title>
	<link rel="stylesheet" href="../css/style.css">
	<link rel="stylesheet" href="../css/font-awesome.min.css">

	<link href="https://fonts.googleapis.com/css?family=Roboto:300+400+700" rel="stylesheet" type="text/css"></link>
</head>
<body>
	<div class="wrapper">
	<header>
		<h1>Ryan Cotter</h1>
		<nav>
			<ul>
				<li><a href="#"><i class="fa fa-home" aria-hidden="true"></i>HOME</a></li>
				<li><a href="#">ABOUT</a></li>
				<li><a href="#">PORTFOLIO</a></li>
				<li><a href="#">CONTACT</a></li>
			</ul>
		</nav>
		<h3>Web Developer</h3>
	</header>
</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
</body>
</html>